/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  [Id]
      ,[ShipmentOrderId]
      ,[StoreId]
      ,[StoreCustomerId]
      ,[PurchaseOrderNumber]
      ,[OrderActualWeight]
      ,[OrderDimensionWeight]
      ,[OrderChargableWeight]
      ,[OrderTotalPrice]
      ,[OrderTotalValue]
      ,[OrderProductTax]
      ,[OrderTotalDiscount]
      ,[DiscountDescription]
      ,[OrderTotalPaid]
      ,[ExchangeRate]
      ,[PackageType]
      ,[ServiceProviderId]
      ,[UKServiceProviderId]
      ,[ShippingStatusId]
      ,[PickupTypeId]
      ,[ExtraInsuranceId]
      ,[ShipFromName]
      ,[ShipFromEmail]
      ,[ShipFromPhone]
      ,[ShipFromCellPhone]
      ,[ShipFromAddress]
      ,[ShipFromAddress2]
      ,[ShipFromAddress3]
      ,[ShipFromCity]
      ,[ShipFromProvince]
      ,[ShipFromPostalCode]
      ,[ShipFromCountry]
      ,[ShipToName]
      ,[ShipToAddress]
      ,[ShipToCity]
      ,[ShipToProvince]
      ,[ShipToPostalCode]
      ,[ShipToAreaCode]
      ,[ShipToProvinceId]
      ,[ShipToCountry]
      ,[ShipToIDCardType]
      ,[ShipToIDCardNumber]
      ,[ShipToQQ]
      ,[ShipToWechat]
      ,[ShipToEmail]
      ,[ShipToPhone]
      ,[ShipToCellPhone]
      ,[ShippingDate]
      ,[ReferenceOrderId]
      ,[PaymentUniqueId]
      ,[PaidDateUtc]
      ,[ShippedDateUtc]
      ,[TrackingNumber]
      ,[UKTrackingNumber]
      ,[DeliveryDateUtc]
      ,[InWarehouseDateUtc]
      ,[Notes]
      ,[CreatedOnUtc]
      ,[ExtraUKShippingFee]
      ,[StoreServiceFee]
      ,[RefundedAmount]
      ,[BatchUniqueKey]
      ,[rowguid]
  FROM [TradewiseFromCN].[dbo].[Shipment]
   where PurchaseOrderNumber in 
       (select PurchaseOrderNumber from [TradewiseFromCN].[dbo].[Shipment]
        group by PurchaseOrderNumber 
	    having count(PurchaseOrderNumber)>=2)
   order by PurchaseOrderNumber ,ShippingDate desc