/****** Script for SelectTopNRows command from SSMS  ******/
SELECT S.[Id]
      ,[ShipmentOrderId]
      ,[StoreId]
      ,[StoreCustomerId]
      ,[PurchaseOrderNumber]
      ,[OrderActualWeight]
      ,[OrderDimensionWeight]
     -- ,[OrderChargableWeight]
      ,[OrderTotalPrice]
      ,[OrderTotalValue]
      ,[OrderProductTax]
      ,[OrderTotalDiscount]
      ,[DiscountDescription]
      ,[OrderTotalPaid]
      ,[ExchangeRate]
      ,[PackageType]
      ,S.[ServiceProviderId]
      ,[UKServiceProviderId]
	  ,[ServiceName]
      ,[ShippingStatusId]
      ,[PickupTypeId]
      ,[ExtraInsuranceId]
      ,[ShipFromName]
      ,[ShipFromEmail]
      ,[ShipFromPhone]
      ,[ShipFromCellPhone]
      ,[ShipFromAddress]
      ,[ShipFromAddress2]
      ,[ShipFromAddress3]
      ,[ShipFromCity]
      ,[ShipFromProvince]
      ,[ShipFromPostalCode]
      ,[ShipFromCountry]
      ,[ShipToName]
      ,[ShipToAddress]
      ,[ShipToCity]
      ,[ShipToProvince]
      ,[ShipToPostalCode]
      ,[ShipToAreaCode]
      ,[ShipToProvinceId]
      ,[ShipToCountry]
      ,[ShipToIDCardType]
      ,[ShipToIDCardNumber]
      ,[ShipToQQ]
      ,[ShipToWechat]
      ,[ShipToEmail]
      ,[ShipToPhone]
      ,[ShipToCellPhone]
      ,[ShippingDate]
      ,[ReferenceOrderId]
      ,[PaymentUniqueId]
      ,[PaidDateUtc]
      ,[ShippedDateUtc]
      ,[TrackingNumber]
      ,[UKTrackingNumber]
	  ,[OrderChargableWeight]
      ,[DeliveryDateUtc]
      ,[InWarehouseDateUtc]
      ,[Notes]
      ,[CreatedOnUtc]
      ,[ExtraUKShippingFee]
      ,[StoreServiceFee]
      ,[RefundedAmount]
      ,[BatchUniqueKey]
  FROM [Tradewise].[dbo].[Shipment] AS S
  --JOIN [Tradewise].[dbo].[OrderStatus_OrderType_Mapping] oom with(nolock) on oom.[OrderStatusId]=S.[ShippingStatusId] AND oom.[OrderTypeId]=188
  LEFT JOIN [Tradewise].[dbo].[ShipmentMethod] AS SM ON SM.[ServiceProviderId]=S.[UKServiceProviderId]
 -- WHERE [UKTrackingNumber] like '2347081030'
 -- WHERE storeid=7 and [ReferenceOrderId]='ORDUK0904023068686'
 --WHERE [ShipFromPostalCode]='EX4 7AB'

WHERE [UKTrackingNumber]in ('15976777625033',
'15976777625034',
'15976777625035',
'15976777625036',
'15976777625037',
'15976777625038',
'15976777625039',
'15976777625040',
'15976777625041',
'15976777625042',
'15976777625043',
'15976777625044',
'15976777625045',
'15976777625046',
'15976777625130',
'15976777625131',
'15976777625132',
'15976777625133',
'15976777625143',
'15976777625144',
'15976777625145',
'15976777625134',
'15976777625135',
'15976777625136',
'15976777625137',
'15976777625138',
'15976777625139',
'15976777625141',
'15976777625142',
'15976777625146',
'15976777625147',
'15976777625148',
'15976777625149',
'15976777625150',
'15976777625151',
'15976777625158',
'15976777625159',
'15976777625160',
'15976777625161',
'15976777625169',
'15976777625170',
'15976777625171',
'15976777625172',
'15976777625173',
'15976777625174',
'15976777625175',
'15976777625176',
'15976777625177',
'15976777625178',
'15976777625179',
'15976777625180',
'15976777625181',
'15976777625182',
'15976777625183',
'15976777625184',
'15976777625185',
'15976777625186',
'15976777625187',
'15976777625188',
'15976777625189',
'15976777625190',
'15976777625191',
'15976777625192',
'15976777625193',
'15976777625195',
'15976777625196',
'15976777625197',
'15976777625198',
'15976777625199',
'15976777625200',
'15976777625201',
'15976777625202',
'15976777625203',
'15976777625204',
'15976777625205',
'15976777625206',
'15976777625207',
'15976777625208',
'15976777625209',
'15976777625210',
'15976777625211',
'15976777625212',
'15976777625213',
'15976777625214',
'15976777625215',
'15976777625216',
'15976777625217',
'15976777625218',
'15976777625219',
'15976777625220',
'15976777625221',
'15976777625222',
'15976777625223',
'15976777625224',
'15976777625225',
'15976777625226',
'15976777625227',
'15976777625228',
'15976777625229',
'15976777625230',
'15976777625231',
'15976777625232',
'15976777625233',
'15976777625245',
'15976777625246',
'15976777625247',
'15976777625248',
'15976777625249',
'15976777625250',
'15976777625251',
'15976777625252',
'15976777625253',
'15976777625254',
'15976777625255',
'15976777625256',
'15976777625257',
'15976777625262',
'15976777625263',
'15976777625264',
'15976777625265',
'15976777625266',
'15976777625267',
'15976777625268',
'15976777625269',
'15976777625270',
'15976777625271',
'15976777625272',
'15976801793092',
'15976801793363',
'15976801793364',
'15976801794201',
'15976777625152',
'15976777625153',
'15976777625154',
'15976777625155',
'15976777625156',
'15976777625157',
'15976777625162',
'15976777625164',
'15976777625165',
'15976777625166',
'15976777625167',
'15976777625168',
'15976777625163',
'15976777625258',
'15976777625259',
'15976777625260',
'15976777625261',
'15976777625278',
'15976777625279',
'15976777625280',
'15976777625281',
'15976777625461',
'15976777625462',
'15976777625463',
'15976777625464',
'15976777625465',
'15976777625466',
'15976777625467',
'15976777625468',
'15976777625469',
'15976777625470',
'15976777625299',
'15976777625326',
'15976777625328',
'15976777625329',
'15976777625330',
'15976777625484',
'15976777625485',
'15976777625486',
'15976777625487',
'15976777625488',
'15976777625345',
'15976777625348',
'15976777625349',
'15976777625350',
'15976777625351',
'15976777625352',
'15976777625353',
'15976777625354',
'15976777625355',
'15976777625356',
'15976777625357',
'15976777625358',
'15976777625359',
'15976777625360',
'15976777625361',
'15976777625362',
'15976777625363',
'15976777625364',
'15976777625365',
'15976777625366',
'15976777625367',
'15976777625368',
'15976777625369',
'15976777625371',
'15976777625372',
'15976777625373',
'15976777625374',
'15976777625375',
'15976777625387',
'15976777625382',
'15976777625383',
'15976777625378',
'15976777625379',
'15976777625381',
'15976777625384',
'15976777625385',
'15976777625389',
'15976777625390',
'15976777625391',
'15976777625392',
'15976777625393',
'15976777625394',
'15976777625395',
'15976777625396',
'15976777625399',
'15976777625402',
'15976777625403',
'15976777625404',
'15976777625405',
'15976777625406',
'15976777625407',
'15976777625442',
'15976777625443',
'15976777625444',
'15976777625445',
'15976777625446',
'15976777625447',
'15976777625448',
'15976777625449',
'15976777625450',
'15976777625451',
'15976777625452',
'15976777625453',
'15976777625454',
'15976777625455',
'15976777625456',
'15976777625457',
'15976777625458',
'15976777625459',
'15976777625471',
'15976777625472',
'15976777625473',
'15976777625474',
'15976777625475',
'15976777625476',
'15976777625477',
'15976777625478',
'15976777625479',
'15976777625480',
'15976777625481',
'15976777625482',
'15976777625483',
'15976777625489',
'15976777625490',
'15976777625491',
'15976777625499',
'15976777625500',
'15976777625501',
'15976777625504',
'15976777625505',
'15976777625511',
'15976777625282',
'15976777625283',
'15976777625284',
'15976777625285',
'15976777625286',
'15976777625287',
'15976777625288',
'15976777625289',
'15976777625290',
'15976777625291',
'15976777625292',
'15976777625293',
'15976777625294',
'15976777625295',
'15976777625296',
'15976777625297',
'15976777625298',
'15976777625325',
'15976777625327',
'15976777625300',
'15976777625301',
'15976777625302',
'15976777625303',
'15976777625332',
'15976777625333',
'15976777625334',
'15976777625335',
'15976777625336',
'15976777625337',
'15976777625338',
'15976777625339',
'15976777625340',
'15976777625341',
'15976777625346',
'15976777625321',
'15976777625322',
'15976777625323',
'15976777625324',
'15976801793798',
'15976801794036',
'15976801794240',
'15976777625126',
'15976777625400',
'15976777625401',
'15976777625408',
'15976777625409',
'15976777625410',
'15976777625411',
'15976777625412',
'15976777625413',
'15976777625414',
'15976777625415',
'15976777625416',
'15976777625417',
'15976777625418',
'15976777625419',
'15976777625420',
'15976777625421',
'15976777625422',
'15976777625423',
'15976777625424',
'15976777625425',
'15976777625426',
'15976777625427',
'15976777625460',
'15976777625502',
'15976777625503',
'15976777625506',
'15976777625507',
'15976777625508',
'15976777625509',
'15976777625510',
'15976777625512',
'15976777625513',
'15976777625514',
'15976777625515',
'15976777625516',
'15976777625517',
'15976777625518',
'15976777625519',
'15976777625520',
'15976777625529',
'15976777625530',
'15976777625531',
'15976777625532',
'15976777625533',
'15976777625534',
'15976777625535',
'15976777625536',
'15976777625539',
'15976777625540',
'15976777625541',
'15976777625542',
'15976777625551',
'15976777625552',
'15976777625553',
'15976777625554',
'15976777625555',
'15976777625556',
'15976777625557',
'15976777625558',
'15976777625559',
'15976777625560',
'15976777625561',
'15976777625562',
'15976777625563',
'15976777625566',
'15976777625567',
'15976777625568',
'15976777625569',
'15976777625570',
'15976777625571',
'15976777625572',
'15976777625573',
'15976777625590',
'15976777625591',
'15976777625592',
'15976777625593',
'15976777625594',
'15976777625595',
'15976777625596',
'15976777625597',
'15976777625598',
'15976777625599',
'15976777625600',
'15976777625601',
'15976777625602',
'15976777625603',
'15976777625604',
'15976777625605',
'15976777625606',
'15976777625607',
'15976777625608',
'15976777625609',
'15976777625610',
'15976777625611',
'15976777625612',
'15976777625613',
'15976777625614',
'15976777625615',
'15976777625616',
'15976777625617',
'15976777625619',
'15976777625620',
'15976777625629',
'15976777625630',
'15976777625631',
'15976777625632',
'15976777625633',
'15976777625634',
'15976777625635',
'15976777625636',
'15976777625309',
'15976777625310',
'15976777625311',
'15976777625312',
'15976777625313',
'15976777625314',
'15976777625315',
'15976777625316',
'15976777625317',
'15976777625318',
'15976777625319',
'15976777625320',
'15976777625344',
'15976801794255',
'15976801794273',
'15976801794347',
'15976777625030',
'15976777625031',
'15976777625032',
'15976777625428',
'15976777625429',
'15976777625430',
'15976777625431',
'15976777625432',
'15976777625433',
'15976777625434',
'15976777625435',
'15976777625436',
'15976777625437',
'15976777625438',
'15976777625439',
'15976777625440',
'15976777625441',
'15976777625644',
'15976777625645',
'15976777625646',
'15976777625647',
'15976777625648',
'15976777625649',
'15976777625650',
'15976777625651',
'15976777625652',
'15976777625653',
'15976777625654',
'15976777625710',
'15976777625711',
'15976777625712',
'15976777625681',
'15976777625682',
'15976777625683',
'15976777625684',
'15976777625685',
'15976777625686',
'15976777625687',
'15976777625658',
'15976777625659',
'15976777625660',
'15976777625661',
'15976777625662',
'15976777625663',
'15976777625664',
'15976777625665',
'15976777625666',
'15976777625667',
'15976777625668',
'15976777625669',
'15976777625670',
'15976777625671',
'15976777625672',
'15976777625673',
'15976777625674',
'15976777625675',
'15976777625688',
'15976777625689',
'15976777625690',
'15976777625691',
'15976777625692',
'15976777625693',
'15976777625694',
'15976777625695',
'15976777625696',
'15976777625697',
'15976777625698',
'15976777625699',
'15976777625700',
'15976777625701',
'15976777625702',
'15976777625703',
'15976777625704',
'15976777625705',
'15976777625706',
'15976777625707',
'15976777625708',
'15976777625709',
'15976777625715',
'15976777625716',
'15976777625714',
'15976777625717',
'15976777625718',
'15976777625719',
'15976777625720',
'15976777625721',
'15976777625723',
'15976777625724',
'15976777625725',
'15976777625726',
'15976777625727',
'15976777625728',
'15976777625729',
'15976777625730',
'15976777625731',
'15976777625732',
'15976777625733',
'15976777625734',
'15976777625735',
'15976777625736',
'15976777625737',
'15976777625738',
'15976777625739',
'15976777625740',
'15976777625741',
'15976777625742',
'15976777625743',
'15976777625744',
'15976777625747',
'15976777625748',
'15976777625749',
'15976777625751',
'15976777625752',
'15976777625753',
'15976777625754',
'15976777625755',
'15976777625756',
'15976777625757',
'15976777625758',
'15976777625759',
'15976777625760',
'15976777625761',
'15976777625762',
'15976777625765',
'15976801794807',
'15976801794976'
)

ORDER BY [PaidDateUtc]